# Ignore Mac system files
.DS_store

# Ignore files related to API keys
.env

# Ignore all text files
*.txt

# Ignore files related user VSCode configuration
.vscode

# Ignore node_modules folder
node_modules
